<footer class="site-footer container medium">
    {{> customize/subscribe}}
    <div class="copyright">
        Powered by <a href="https://ghost.org/" target="_blank">Ghost</a> <br>
        Developed by <a href="https://www.instagram.com/julian_vitor/" target="_blank">Julian</a>
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}